<h1><%= @new_team[:name] %></h1>

<h2>Team Motto: <%= @new_team[:motto] %></h2>

<!-- # <% @new_team[:members].each do |member_data| %>
#    <p>Hero Power: <%=member_data[:power]%></p>
#    <p>Hero Biography: <%=member_data[:bio]%></p>
# <% end %> -->

<h2>Hero Name: <%= @new_team[:members][1][:name] %></h2>
  <p>Hero Power: <%= @new_team[:members][1][:power] %></p>
  <p>Hero Biography: <%= @new_team[:members][1][:bio] %></p>

<h2>Hero Name: <%= @new_team[:members][2][:name] %></h2>
  <p>Hero Power: <%= @new_team[:members][2][:power] %></p>
  <p>Hero Biography: <%= @new_team[:members][2][:bio] %></p>

<h2>Hero Name: <%= @new_team[:members][3][:name] %></h2>
  <p>Hero Power: <%= @new_team[:members][3][:power] %></p>
  <p>Hero Biography: <%= @new_team[:members][3][:bio] %></p>
